<div class="row" >
  <div *ngFor="let image of carImages " class="card text-dark bg-light mb-3" style="max-width: 18rem;">
    <img src="{{urlPath}}/{{image.imagePath}}" class="card-img-top" alt="...">
</div>
<div style="text-align: center" aria-current="true" *ngIf="car">
  <h4>
    {{ car.carName }}
  </h4>
</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Brand</th>
      <th>Color</th>
      <th>Model Year</th>
      <th>Daily Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <tr *ngIf="car">
    <td>{{ car.id }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>{{ car.description }}</td>
    <button type="button" class="btn btn-secondary">Rent</button>
  </tr>
</table>
