
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">Car Name</th>
        <th scope="col">Company Name</th>
        <th scope="col">Rent Date</th>
        <th scope="col">Return Date</th>
      </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.customerId}}</td>
        <td>{{rental.carName}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
   
  </table>

